.card-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
header {
    padding-bottom: 44px;
    padding-top: 100px;
}
body, html {
    color: #6c6f73;
}
.text-justify {
    text-align: justify;
}